---
interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = "Ibnu Hamzah - Frontend Developer & Linux Enthusiast",
  description = "Portofolio + Blog + Meme Developer. Berisi catatan ngoding, eksperimen, dan humor receh ala programmer.",
  image = "/default-og.png", // taruh gambar default di public/
} = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{title}</title>
  <meta name="description" content={description} />

  <!-- Open Graph / Facebook -->
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />
  <meta property="og:type" content="website" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={image} />

  <!-- Favicon -->

  <link rel="stylesheet" href="_astro/swiper-bundle.min.css" />
  <!-- Global CSS -->
</head>
